{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/shared/webpack.common.js"
      }
    }
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "no-unused-vars": "off",
    "comma-dangle": "off",
    "import/prefer-default-export": 0,
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ]
      }
    ]
  }
}